* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Gelion, sans-serif;
}

body {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

header.nav {
  min-height: 4.5rem;
  margin: 0;
  padding: 1rem 0px;
  background-color: #fff;
  box-shadow: 0px 3px 4px rgba(196, 196, 196, 0.25);

  .container {
    min-height: 100% !important;
    margin: 0 initial;

    ul {
      margin-top: 1rem;
      height: max-content;
      display: flex;
      align-items: center;

      li {
        display: flex;
        height: 100%;

        a {
          margin: 0.5rem 1rem;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          // height: max-content;
        }

        &:not(:last-of-type) {
          a {
            // height: max-content;
            position: relative;
            color: #666666;
            text-decoration: none;

            &:hover {
              color: #0076f6;
              &::after {
                content: '';
                width: 1rem;
                height: 2px;
                background-color: #e46075;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }

          &.active {
            a {
              color: #0076f6;
              &::after {
                content: '';
                width: 1rem;
                height: 2px;
                background-color: #e46075;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }
        }

        &:last-of-type {
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}

/* body styling */
.about {
  margin-bottom: 170px;

  @media (max-width: 991px) {
    margin-bottom: 3rem;
  }

  & > .container {
    // padding-left: 135px;
    position: relative;
    overflow-x: hidden;

    @media (max-width: 767px) {
      padding-left: 64px;
      padding-right: 30px;
    }

    @media (max-width: 500px) {
      padding-left: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 90%;
      left: 5%;
      top: 0;
      transform: translate(0, -10%);
      // background-image: url(../../assets/contact-bg.svg);
      background-repeat: no-repeat;
      // background-attachment: ;
      // background-position: top  left auto;
      background-size: contain;
      // background-clip: border-box;
    }

    & > nav {
      margin-top: 35px;

      & > .breadcrumb {
        background-color: transparent;

        .breadcrumb-item {
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.05em;
          color: #33475b;
          text-decoration: underline;

          & > a {
            color: #33475b;
          }

          &.active {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-decoration-line: underline;
            color: #807784;
          }

          & + .breadcrumb-item.active::before {
            content: '';
            text-decoration: none;
          }
        }
      }
    }

    & > .row > div {
      overflow: hidden;

      @media (max-width: 500px) {
        padding-left: 0;
      }
    }

    .row {
      height: max-content;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &.our-mission {
        margin-top: 123px;
        margin-bottom: 177px;

        @media (max-width: 991px) {
          margin-top: 2rem;
          margin-bottom: 3rem;
        }

        // & > div {
        // padding: 0;
        // }

        // & > div:nth-of-type(2) {
        //   display: flex;
        //   justify-content: flex-end;
        // }
      }

      &.our-vision {
        // margin-top: 123px;

        & > div {
          &:nth-of-type(2) {
            max-width: 507px;
          }
        }

        p {
          max-width: 500px;
        }
        // & > div:nth-of-type(2) {
        //   display: flex;
        //   justify-content: flex-end;
        // }
      }

      img {
        width: 100%;
        max-width: 526px;
        height: auto;
        object-fit: cover;
      }
    }

    h2 {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      color: #e46075;
      margin-bottom: 0.25rem;
    }

    h3 {
      max-width: 330px;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 0.5rem;
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #807784;
      margin: 0;
      margin-bottom: 1.5rem;
      max-width: 507px;
    }

    a.btn {
      max-width: 127px;
      height: 37px;
    }
  }
}

.our-team {
  margin-bottom: 176px;

  @media (max-width: 991px) {
    margin-bottom: 3rem;
  }

  .container {
    // max-width: 1184px;

    @media (max-width: 767px) {
      padding-left: 64px;
      padding-right: 30px;
    }

    @media (max-width: 500px) {
      padding-left: 32px;
    }

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #33475b;
      // margin-bottom: 7rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 144px;
        height: 12px;
        left: 50%;
        bottom: 0;
        transform: translate(-60%, 0%);
        background: rgba(228, 96, 117, 0.15);
      }
    }

    & > p {
      width: 100%;
      max-width: 439px;
      min-height: 39px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #807784;
      margin: auto;
      margin-bottom: 96px;
      margin-top: 1rem;

      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }

    .member {
      max-width: 364px;
      width: 100%;
      height: 381px;
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 1.5rem auto;

      // padding-top: 40px;

      .photo {
        position: relative;
        margin-bottom: 10px;
        height: 284px;
        width: 100%;
        background-color: #e7e7e7;
        clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);

        img {
          position: absolute;
          bottom: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      & > h5 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #33475b;
      }

      & > p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        text-align: center;
        // text-transform: lowercase;

        /* support text color */

        color: #807784;
      }
    }
  }
}

.partners {
  margin-bottom: 165px;

  .container {
    @media (max-width: 767px) {
      padding-left: 64px;
      padding-right: 30px;
    }

    @media (max-width: 500px) {
      padding-left: 32px;
    }

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #33475b;
      // margin-bottom: 7rem;
      position: relative;

      @media (max-width: 500px) {
        margin-bottom: 1rem;
      }

      &::after {
        content: '';
        position: absolute;
        width: 178px;
        height: 12px;
        left: 50%;
        bottom: 0;
        transform: translate(-60%, 0%);
        background: rgba(228, 96, 117, 0.15);
      }
    }

    p {
      max-width: 394px;
      min-height: 39px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #807784;
      margin: auto;
      margin-bottom: 96px;
    }

    .row {
      min-height: 87px;
      max-width: 100%;
      justify-content: space-around;
      margin: 0;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin: 0.75rem auto;
        }
      }
    }
  }
}
/* end of body styling */

footer {
  background-color: #0779e4;
  padding-top: 3rem;
  padding-bottom: 1rem;
  width: 100%;
  color: #ffffff70;
  font-weight: 300;

  div.container:first-of-type {
    border-bottom: 1.5px solid rgba(229, 229, 229, 0.4);
    margin-bottom: 2rem;

    a {
      color: #ffffff70;

      &:hover {
        color: white;
      }
    }

    h4 {
      color: #fff;
      font-weight: 400;
      margin-bottom: 1.25rem;
    }

    p {
      line-height: 30px;
      letter-spacing: 0.05em;
    }

    li {
      list-style: none;
    }

    li:not(:first-of-type) {
      margin-top: 0.75rem;
    }

    form {
      // margin: 1rem auto 4rem;
      max-width: 393px;
      display: flex;
      padding: 0;
      height: 3.5rem;
    }

    form input.form-control {
      border-radius: 10px 0 0 10px;
      background: rgba(11, 63, 113, 0.24);
      line-height: 1rem;
      font-size: 1rem;
      height: 100%;
      border: none;
      outline: none;
      // border-radius: 5px;
      max-width: 30rem;
      margin: 0 !important;
      color: white;
      padding-left: 1.5rem;

      &::placeholder {
        color: #ffffff70;
      }

      &:active,
      &:focus {
        background-color: rgba(11, 63, 113, 0.24);
        color: white;
      }
    }

    form button {
      background-color: #6ba4e2;
      border: none;
      outline: none;
      border-radius: 0 10px 10px 0;
      padding: 1rem 37px 1rem 27px;
      color: #ffffff70;
      // height: 3rem;
      height: 100%;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    form button:hover {
      background-color: #5889bd;
      transform: scale(1.02);
    }

    form button:active,
    form button:visited {
      color: #fff;
      border: none;
      outline: none;
    }
  }

  hr {
    border-top: 1.5px solid rgba(229, 229, 229, 0.4);
    width: 100%;
    max-width: 1160px;
    margin: initial auto;
  }

  .container:last-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      font-weight: 300;
      font-size: 1rem;
      line-height: 18px;
      color: #97c6f9e6;

      a {
        text-decoration: underline;
        color: #97c6f9e6;
        line-height: 18px;
      }
    }

    .links {
      width: max-content;
      display: flex;

      a {
        text-decoration: none;
        background-color: rgba(11, 63, 113, 0.24);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5rem;
      }
    }
  }
}

@media (max-width: 575px) {
  header.nav {
    .container {
      margin: 0 18px;
    }
  }

  footer .container form {
    margin: 0 auto 2rem;
    max-width: 90%;
  }

  .partners {
    margin-bottom: 4rem;

    .container {
      p {
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 425px) {
  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  footer .container .row {
    display: flex;
    flex-direction: column;
  }

  footer .container .row > div.col-6 {
    padding: 0;
    max-width: 100% !important;
  }
}
